.contactsection{
    background-color:rgba(104, 222, 222);
}

.contactform{
    border: solid 2px black;
    background-color:#f3fff8;
    border-radius: 25px;
    z-index:0;
}

.formtitle{
    background-color:rgba(104, 222, 222,0.4);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: solid black 2px;
    z-index: 2;

}