#mainhome{
    background-color:#b5ecec;
 }
 
 
 #connectls .list-group-item{
     font-size:xx-large;
     background:none;
     border: none;
     margin-top: 5px;
 }
 .col-md-3>.nsimg{
     width:100%;
 }
 
 
.name{
    font-weight: 700;
    color: #d64c31;
}
/* .tagline{
    font-size:larger;
} */
.tagtext{
    font-size: larger;
}
svg{
    vertical-align: text-top;
    color: #ed5d40;
}
.opquaote{
    transform: scaleX(-1);
}
.homebut{
    background-color:#d64c31;
    color: #f2f9f9;
    border: #094946 solid 2px;
    box-shadow: 2px 5px 0px 0px #e9a513;
    
}

.homebut:focus{
    background-color:#e9a513;
    color: #f2f9f9;
    border: #094946 solid 2px;
    box-shadow: 2px 5px 0px 0px #ed5d40;
}

/* .down-arrow{
    position: fixed;
    bottom: 0;
    left: 50%;
    justify-self:center;
} */