.projectsec{
    background: rgba(255, 255, 255, 0.1) url(../../style/image_processing20221126-23797-ho4lj6.gif) no-repeat center center fixed;
    background-size: cover;
    
}
.projectcol{
    background-color: rgba(254, 247, 247, 0.7);
}

.githublink{
    padding-top:1.2px;
   
}

.gitlogo{
    padding-bottom: 1px;
}

.worktitl{
    display: inline-block;
    border-bottom: 4px solid #094946; /* Adjust the color and thickness of the line */
    padding-bottom: 10px; 
    padding-top: 10px;
    font-weight: 700;
    /* color:#00807a; */
    color: #d64c31;
} 

.projecttitle{
    padding-top: 10px;
    padding-bottom:0;
    background-color:#15B5B1;
    border: none;
    
}

.projectcard{
    border: none;
}
/* .projectcard{
    border: solid 4px #094946;
    background-color: whitesmoke;
} */

.projectimg{
    max-width: 100%;
    height: 260px;
    
    /* margin: 1px; */
    /* border: #dde8e7 solid 8px; */
    /* border-radius: 8px; */
    
}
.projectpic{
    padding-top: 1px;
    background-color: whitesmoke;
    
}

.toolkey{
    background-color: #15B5B1 !important;
    /* border: 2px solid #d64c31; */
    box-shadow: 2px 2px 0px 0px #094946;
}

.toolsymbol{
    padding: 5px;
     background: #d64c31;
}

.projecttoollist>.list-group-item{
    border: none;
    background-color: rgb(245, 245, 245,0.6);
}

.projectfoot{
    background-color: whitesmoke;
    justify-content: space-evenly;
}