/* 
  @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Oswald&family=Roboto+Mono&display=swap');

.App{
  text-align: center;
  font-family: 'Gabarito', sans-serif;
  
} */

.App{
  background: rgba(255, 255, 255, 0.8) url(./style/white-background.gif) no-repeat center center fixed;
  background-size: cover;
}